/* Mobile */
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  body {
    font-size: 16px;
  }
}

body{
    background-color: hsl(47, 88%, 63%);
}
.card{
    background-color: hsl(0, 0%, 100%);
    padding:20px;
    border-radius: 15px;
    border: 2px solid hsl(0, 0%, 42%);
    width: 340px;
    margin: 100px auto;
    box-shadow: 10px 10px 0px black;
}
.pic{
    border-radius:10px;
}
.learning-button{
    background-color: hsl(47, 88%, 63%);
    color:hsl(0, 0%, 7%);
    border:none;
    padding:10px 15px;
    margin-top:20px;
    font-weight: bold;
    border-radius:5px;
}
h2{
    color:hsl(47, 88%, 63%);
    font-weight: bold;
}
p{
    font-size:16px;
    color:hsl(0, 0%, 42%);
}
h3{
    color:black;
    font-weight: bold;
}
.container {
  display: flex;
  align-items: center;   
  gap: 15px;             
}

.container img {
  width: 30px;
  height: 30px;
}

.text {
  flex: 1; 
}